
body {
  font-style: "sans-serif";
  background: #E8E8E8;
  padding: 0;
  margin: 0;
}

#feeds {
  float: left;
  width: 20%;
}
  #feeds div.item {
    background: #fff;
  }

#content {
  float: left;
  width: 79%;
}

div.item {
  margin: 1px;
  padding: 3px;
  border-radius: 3px;
  overflow: auto;
}


/* ========================================== */

#content div.item:hover {
  background: #F9F9F9;
}

#content div.item div.date {
  float: right;
  font-family: monospace;
  font-size: 70%;
  font-weight: bold;
}

#content div.item div.content {
  display: none;
}

#content div.selected div.content {
  display: block;
}
