
body {
  font-family: sans-serif;
  background: #E8E8E8;
  padding: 0;
  margin: 0;
}

#feeds {
  float: left;
  width: 20%;
}
  #feeds div.item {
    background: #fff;
  }

#content {
  float: left;
  width: 79%;
}

div.item {
  margin: 1px;
  padding: 3px;
  border-radius: 3px;
  overflow: auto;
}

/* ========================================== */

#feeds div.item {
  overflow: hidden;
  max-height: 18px;
}

/* ========================================== */

#content div.item {
  padding: 8px 3px ;
}

#content div.item:hover {
  background: #F9F9F9;
}

#content div.item a.date {
  float: right;
  font-family: monospace;
  font-size: 70%;
  font-weight: bold;
}

#content div.item div.content {
  display: none;
  padding: 4px;
}

#content div.selected div.content {
  display: block;
}
